/*\\\GENERAL///*/
:root {
    font-size: 13px;
}

/*\\\DESKTOP_STYLE///*/
/*HEADER*/
header {
    padding: 0 20px;
}

.main-nav {
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    margin-top: 0;
    grid-gap: 40px;
}


.main-nav a {
    line-height: 100px;
    height: 100px;
    padding-top: 4px;
    position: relative;
}

.main-nav__logo {
    padding: 0;
    line-height: inherit;
}

.main-nav__logo img {
    height: 65px;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-nav__places, .main-nav__activities {
    padding: 0;
    height: inherit;
    line-height: inherit;
}

.main-nav__places a, .main-nav__activities a {
    border-bottom: none;
}

.main-nav__places a:hover, .main-nav__activities a:hover {
    border-bottom: none;
    padding-top: 0;
    border-top: 4px solid var(--primary_blue);
}

.main-nav__sign-in {
    grid-column: 4/5;
}

.slogan {
    padding: 15px 0 0;
}

.slogan-small {
    padding: 10px 0;
}

/*FORM*/
.search-form {
    padding: 15px 0px 35px 0px;
}

.search-form__bar i {
    font-size: 1.9rem;
}

.search-form__bar--input {
    width: calc(50% - 70px);
}

.search-form__bar--btn {
    width: 140px;
    border-radius: 0 20px 20px 0;
}

.search-form__bar--btn-txt {
    color: #fff;
    font-size: 1.2rem;
    display: initial;
    padding-left: 15px;
    padding-right: 15px;
}

.search-form__bar--btn-glass {
    display: none;
}

section header {
    padding: 0;
}

.search-filters button {
    margin-right: 30px;
}

article {
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 20px;
    grid-gap: 20px;
}

.description h3 {
    font-size: 1.4rem;
}

.load-more {
    padding: 0;
}

section {
    grid-gap: 20px;
    padding: 20px;
}

.accomodation-cards {
    background-color: var(--primary_gray);
    border-radius: 20px;
    grid-template-rows: 40px 250px 250px 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

.accomodation-cards h2 {
    grid-row: 1/2;
    grid-column: 1/4;
}

.accomodation-cards h3, .popular-cards h3, .activities-cards h3 {
    font-size: 1.4rem;
}

.accomodation-cards__description p, .popular-cards__description p {
    font-size: 1.2rem;
}

.popular-cards {
    border-radius: 20px;
    padding: 20px;
    grid-template-rows: 40px repeat(3, 150px);
}

.popular-cards__title {
    padding-bottom: 0;
}

.activities-cards {
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px repeat(5, 100px);
    gap: 20px 20px;
    grid-template-areas:
    "TT TT TT TT"
    "VP FP PNC NDG"
    "VP FP PNC NDG "
    "VP FP PNC PL"
    "VP IF PNC PL"
    "VP IF PNC PL";
}

.activities-cards h2 {
    grid-area: TT;
}

.activities-cards__elmt1 {
    grid-area: VP;
}

.activities-cards__elmt2 {
    grid-area: FP;
}

.activities-cards__elmt3 {
    grid-area: IF;
}

.activities-cards__elmt4 {
    grid-area: PNC;
}

.activities-cards__elmt5 {
    grid-area: NDG;
}

.activities-cards__elmt6 {
    grid-area: PL;
}

.activities-cards__elmt5 h3 {
    font-size: 1.2rem;
}

.activities-cards figure {
    height: 100%;
}

.activities-cards figure img {
    height: calc(100% - 50px);
}

.activities-cards figcaption {
    height: 50px;
    line-height: 50px;
}

/*END__MAIN*/
/*FOOTER*/
footer {
    padding: 40px 20px 40px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer h3:first-child {
    padding-top: 0;
}

/*END__FOOTER*/
