/*FONTS*/
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: Raleway, serif;
    font-size: 1rem;
}

:root {
    font-size: 14px;
}

nav {
    height: 250px;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 40%;
}

nav img {
    grid-column: 1/2;
    grid-row: 1/2;
}

nav li {
    text-align: center;
}

nav li:last-child {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
}

img {
    max-height: 100px;
}