/*\\\FONTS///*/
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
}

/*\\\DOM///*/
:root {
    font-size: 10px;
    --primary_blue: #106FFC;
    --secondary_blue: #DEEBFF;
    --primary_gray: #f2f2f2;
    --secondary_gray: #d9d9d9;
}

body { font-family: Raleway, serif; }

/*\\\MOBILE_STYLE///*/
/*HEADER*/
#logo {
    width: 60%;
    max-width: 100%;
    display: block;
}

strong { font-weight: bold; }

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px;
    align-items: center;
    font-size: 1.7rem;
}

nav li:first-child {
    text-align: left;
    padding-left: 25px;
}

nav li:nth-child(2) a {
    display: block;
    width: 100%;
    line-height: 50px;
    height: 50px;
    border-bottom: 4px solid var(--primary_gray);
}

nav li:nth-child(3) a {
    display: block;
    width: 100%;
    line-height: 50px;
    height: 50px;
    border-bottom: 4px solid var(--primary_gray);
}

nav li { text-align: center; }

nav li:nth-child(2) a:hover {
    border-bottom: 4px solid var(--primary_blue);
}

nav li:nth-child(3) a:hover {
    border-bottom: 4px solid var(--primary_blue);
}

.sign-in {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
    padding-right: 25px;
    font-family: "Raleway Bold", sans-serif;
}

.sign-in a {
    color: var(--primary_blue);
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

nav a:hover { color: var(--primary_blue); }

header h1 {
    font-size: 2.2rem;
    font-family: 'Raleway Bold', sans-serif;
    padding: 15px 25px 0;
    line-height: 1.3;
}

.slug {
    font-size: 1.65rem;
    font-weight: 500;
    padding: 10px 25px;
}

/*FORM*/
form { padding: 25px; }

#search-bar { display: flex; }

#search-bar input {
    border: 1px solid var(--primary_gray);
    font-family: "Raleway Bold", sans-serif;
    font-size: 1.8rem;
    width: calc(100% - 50px);
    padding-left: 20px;
}

#search-bar i {
    font-size: 2.2rem;
    margin: auto;
}

.gps-locator {
    background-color: var(--primary_gray);
    border: 1px solid var(--primary_gray);
    width: 70px;
    height: 60px;
    border-radius: 20px 0 0 20px;
    display: flex;
}

.search-button {
    width: 70px;
    height: 60px;
    background-color: var(--primary_blue);
    border: 1px solid var(--primary_blue);
    border-radius: 20px;
    margin-left: -25px;
}

.search-button i {
    color: #fff;
    margin: auto;
}

/*FILTERS BUTTONS*/
form button {
    font-family: 'Raleway Bold', sans-serif;
    background-color: #fff;
    border: 2px solid var(--secondary_gray);
    border-radius: 60px;
}

.eco-button i, .familial-button i, .romantic-button i, .pet-welcome-button i {
    background-color: var(--secondary_blue);
    color: var(--primary_blue);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    margin: -15px;
}

.eco, .familial, .romantic, .pet-welcome { padding: 2rem; }

#filters h2 {
    font-family: "Raleway Bold", sans-serif;
    font-size: 2rem;
    padding-top: 35px;
}

#filters button {
    font-size: 1rem;
    padding: 10px;
    padding-right: 30px;
    margin: 15px;
    margin-left: 0;
}

#search-results {
    margin-top: 70px;
    display: flex;
}

#search-results i {
    color: var(--primary_blue);
    width: 85px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid var(--secondary_gray);
    font-size: 1rem;
}

#search-results p {
    font-size: 1rem;
    padding: 30px;
    padding-top: 0;
}

/*MAIN*/
article {
    display: flex;
    flex-direction: column-reverse;
}

.popular { background-color: var(--primary_gray); }

.popular h2 {
    font-family: "Raleway Bold", sans-serif;
    margin-left: 1rem;
    font-size: 1rem;
}

.popular i {
    grid-column: 2/3;
    text-align: right;
    font-size: 1rem;
    padding-right: 1rem;
}

.popular-title {
    display: grid;
    align-items: center;
    grid-template: 1rem /3fr 1fr;
    margin-top: 9%;
    margin-bottom: 6%;
}

.card {
    position: relative;
    box-shadow: 0 1px 20px var(--secondary_gray);
    background-color: #fff;
    border-radius: 19px;
    height: auto;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    padding: 1%;
    display: flex;
    flex-direction: row;
}

.card-img {
    border-radius: 15px 0 0 15px;
    height: 27rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: 42%;
}

.description {
    display: flex;
    flex-direction: column;
    padding-left: 6%;
    padding-top: 3%;
    text-decoration: none;
    color: black;
}

.description h3 {
    font-size: 3.5rem;
    font-family: "Raleway Bold", sans-serif;
    line-height: 1.1;
}

.description p {
    padding-top: 3%;
    font-size: 2.8rem;
}

.stars {
    padding-right: 0;
    font-size: 1rem;
    color: var(--primary_blue);
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 5%;
}

.stars i { padding-right: 2%; }

.empty {
    color: var(--secondary_gray);
}

.card-home h2 {
    font-family: "Raleway Bold", sans-serif;
    font-size: 1rem;
    margin-top: 9%;
    margin-bottom: 6%;
    padding-left: 1rem;
}

.card2 {
    box-shadow: 0 1px 20px var(--secondary_gray);
    background-color: #fff;
    border-radius: 35px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card2-img {
    width: 100%;
    border-radius: 30px 30px 0 0;
    height: 22rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.load-more {
    font-family: "Raleway Bold", sans-serif;
    font-size: 1rem;
    padding-top: 3%;
    padding-left: 1rem;
    color: #000;
}

aside h2 {
    font-family: "Raleway Bold", sans-serif;
    font-size: 1rem;
    margin-top: 9%;
    margin-bottom: 6%;
    padding-left: 1rem;
}

aside figure {
    box-shadow: 0 1px 10px var(--secondary_gray);
    background-color: #fff;
    border-radius: 35px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside figure img {
    width: 100%;
    border-radius: 30px 30px 0 0;
    height: 25rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

aside figcaption {
    font-family: "Raleway Bold", sans-serif;
    padding: 6%;
    font-size: 1rem;
    color: black;
}

footer {
    background-color: var(--primary_gray);
    padding-left: 1rem;
}

footer a:hover { color: var(--primary_blue); }

.footer-title {
    font-family: "Raleway Bold", sans-serif;
    font-size: 1.4rem;
    padding-top: 10%;
}

footer li { line-height: 2; }

footer li:first-child { padding-top: 5%; }

.last-item { padding-bottom: 10%; }