/*\\\FONTS///*/
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
}

/*\\\GENERAL///*/
:root {
    font-size: 10px;
    --primary_blue: #106FFC;
    --secondary_blue: #DEEBFF;
    --primary_gray: #f2f2f2;
    --secondary_gray: #d9d9d9;
}

body {
    font-family: Raleway, serif;
}

h1, h2, h3 {
    font-family: "Raleway Bold", sans-serif;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

strong {
    font-weight: bold;
}

/*\\\MOBILE_STYLE///*/
/*__HEADER__*/
/*__MAIN__NAV__*/
.main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px;
    align-items: center;
    font-size: 1.7rem;
}

.main-nav li {
    height: 100%;
    text-align: center;
}

.main-nav a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    display: block;
    height: 100%;
}

.main-nav a:hover {
    color: var(--primary_blue);
}

.main-nav__logo {
    text-align: left;
    padding-left: 25px;
}

.main-nav__logo img {
    width: 60%;
    max-width: 100%;
    display: block;
}

.main-nav__places a, .main-nav__activities a {
    display: block;
    width: 100%;
    line-height: 50px;
    height: 50px;
    border-bottom: 4px solid var(--primary_gray);
}

.main-nav__places a:hover, .main-nav__activities a:hover {
    border-bottom: 4px solid var(--primary_blue);
}

.main-nav__sign-in {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right !important;
    padding-right: 25px;
    font-family: "Raleway Bold", sans-serif;
}

.main-nav__sign-in a {
    color: var(--primary_blue);
    height: 50px;
    line-height: 50px;
}

/*__END__MAIN__NAV__*/
/*__SLOGAN__*/
.slogan {
    padding: 15px 25px 0;
    line-height: 1.3;
}

.slogan-small {
    font-size: 1.65rem;
    font-weight: 500;
    padding: 10px 25px;
}

/*__END__SLOGAN__*/
/*__FORM__*/
.search-form {
    padding: 25px;
}

.search-form__bar {
    display: flex;
}

.search-form__bar--input {
    border: 1px solid var(--primary_gray);
    font-family: "Raleway Bold", sans-serif;
    font-size: 1.8rem;
    height: 60px;
    border-radius: 0;
    padding: 0px 0px 0px 20px;
    -webkit-appearance: none;
    width: calc(100% - 50px);
}

.search-form__bar i {
    font-size: 2.2rem;
    margin: auto;
}

.search-form__bar--gps {
    background-color: var(--primary_gray);
    border: 1px solid var(--primary_gray);
    width: 70px;
    height: 60px;
    border-radius: 20px 0 0 20px;
    display: flex;
}

.search-form__bar--btn {
    width: 70px;
    height: 60px;
    background-color: var(--primary_blue);
    border: 1px solid var(--primary_blue);
    border-radius: 20px;
    margin-left: -25px;
}

.search-form__bar--btn:hover {
    cursor: pointer;
    opacity: 0.85;
}

.search-form__bar--btn i {
    color: #fff;
    margin: auto;
}

.search-form__bar--btn-txt {
    display: none;
}

/*__FILTERS__BUTTONS__*/
.search-filters__title {
    padding-top: 25px;
}

.search-filters button {
    font-family: 'Raleway Bold', sans-serif;
    background-color: #fff;
    border: 2px solid var(--secondary_gray);
    border-radius: 60px;
    font-size: 1.6rem;
    padding: 2px;
    margin: 8px;
    margin-left: 0;
}

.search-filters button:hover {
    color: var(--secondary_blue);
    background-color: var(--primary_blue);
    cursor: pointer;
}

.eco-button i, .familial-button i, .romantic-button i, .pet-welcome-button i {
    background-color: var(--secondary_blue);
    color: var(--primary_blue);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    margin: -2px;
}

.eco, .familial, .romantic, .pet-welcome {
    padding: 10px;
    /*padding-right: 0;*/
}

/*__END__FILTERS__BUTTONS__*/
/*__SEARCH__RESULTS__*/
.search-results {
    margin-top: 20px;
    display: flex;
}

.search-results i {
    color: var(--primary_blue);
    width: 25px;
    height: 25px;
    max-width: 25px;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid var(--secondary_gray);
    font-size: 1rem;
}

.search-results p {
    font-size: 1.5rem;
    padding: 10px;
    padding-top: 0;
}

/*__END__SEARCH__RESULTS__*/
/*__END__FORM__*/
/*__END__HEADER__*/
/*__MAIN__*/
article {
    display: flex;
    flex-direction: column-reverse;
}

section {
    padding: 25px;
    display: grid;
    grid-gap: 15px;
}

/*__ACCOMODATION-CARDS__*/
.accomodation-cards {
    grid-template-rows: 40px repeat(6, 220px);
}

.accomodation-cards h2 {
    padding-bottom: 20px;
}

.accomodation-cards .stars {
    padding: 10px 0px 5px 0;
    bottom: 5px;
}

.accomodation-cards figure {
    box-shadow: 0 1px 20px var(--secondary_gray);
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    height: 100%;
}

.accomodation-cards img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: calc(100% - 110px);
    object-fit: cover;
}

.accomodation-cards__description {
    position: relative;
    padding: 10px;
    color: #111;
    width: 100%;
    height: 110px;
}

.accomodation-cards__description p {
    font-size: 1.3rem;
}

.accomodation-cards__load-more {
    padding-top: 15px;
    color: #000;
}

.accomodation-cards__load-more:hover {
    color: var(--primary_blue);
}

/*__END__ACCOMODATION-CARDS__*/
/*__POPULAR-CARDS__*/
.popular-cards {
    background-color: var(--primary_gray);
    padding: 25px;
    grid-template-rows: 40px repeat(3, 150px);
}

.popular-cards__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}

.popular-cards__title h2 {
    padding: 0;
}

.popular-cards figure {
    position: relative;
    box-shadow: 0 1px 20px var(--secondary_gray);
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    height: 100%;
}

.popular-cards img {
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 42%;
}

.popular-cards__description {
    position: relative;
    padding: 10px;
    color: #111;
    width: 58%;
    height: 150px;
}

.popular-cards__description p {
    font-size: 1.3rem;
}

.popular-cards .stars {
    bottom: 15px;
}

.stars {
    padding-right: 0;
    font-size: 1.2rem;
    color: var(--primary_blue);
    display: flex;
    position: absolute;
    bottom: 10px;
}

.stars i {
    padding-right: 1px;
}

.stars--empty {
    color: var(--secondary_gray);
}

/*__END__POPULAR-CARDS__*/
/*__ACTIVITIES-CARDS__*/
.activities-cards {
    padding: 10px 25px 25px 25px;
    display: grid;
    grid-gap: 15px;
    grid-template-rows: 40px repeat(6, 220px);
}

.activities-cards figure {
    box-shadow: 0 1px 10px var(--secondary_gray);
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.activities-cards figure img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: calc(100% - 50px);
    object-fit: cover;
}

.activities-cards figcaption {
    padding: 0px 20px;
    color: #000;
    height: 50px;
    line-height: 50px;
}

/*__END__ACTIVITIES-CARDS__*/
/*__END__MAIN__*/
/*__FOOTER__*/
footer {
    background-color: var(--primary_gray);
    padding-left: 25px;
}

footer a:hover {
    color: var(--primary_blue);
}

footer h3:first-child {
    padding-top: 40px;
}

footer h3 {
    padding-top: 20px;
}

footer a {
    font-size: 1.4rem;
    color: inherit;
}

footer li {
    line-height: 2.4;
}

footer ul:last-child {
    padding-bottom: 40px;
}

/*__END__FOOTER__*/