/*\\\GENERAL///*/
:root {
    font-size: 12px;
}

/*\\\TABLET_STYLE///*/
/*HEADER*/
.main-nav {
    grid-template-rows: 140px;
}

.main-nav__logo {
    padding-left: 35px;
}

.main-nav__logo img {
    width: 50%;
}

.main-nav__sign-in {
    padding-right: 35px;
}

.slogan {
    padding: 15px 35px 0;
    line-height: 1.5;
}

.slogan-small {
    padding: 10px 35px;
}

/*FORM*/
.search-form {
    padding: 15px 35px 35px 35px;
}

.search-form__bar--gps{
    width: 60px;
}

.search-form__bar--input {
    width: calc(60% - 70px);
    min-width: 65%;
}

.search-form__bar--btn {
    width: 60px;
}


.description {
    padding-left: 10px;
    padding-top: 10px;
}

.stars {
    bottom: 5px;
    font-size: 1rem;
}

section {
    grid-gap: 20px;
    padding: 35px;
}

.card-home {
    grid-template-columns: 1fr 1fr;
}

.card-home h1 {
    grid-column: 1/3;
}

aside {
    padding: 10px 35px 35px 35px;
    grid-template-columns: 1fr 1fr;
}

aside h1 {
    grid-column: 1/3;
}

footer {
    padding-left: 35px;
}